<div class="container my-4">
  <% if @bernardos.blank? %>
    <h2>Nenhum Bernardo disponível para esse serviço no momento. &#128546;</h2>
  <% else %>
    <h2><strong><%= @bernardos.count %></strong> Bernardo(s) encontrado(s)! &#129385;</h2>
  <% end %>
  <br>
  <div class="card-deck cards my-3">
    <% @bernardos.each do |bernardo| %>
      <div class="card-bernardo">
        <%= link_to service_path(bernardo) do %>
          <% if bernardo.images.blank? %>
            <%= image_tag "SERVICO_SEM_FOTO.png" %>
          <% else %>
            <%= cl_image_tag bernardo.images.first.key, class: "card-bernardo-cl" %>
          <% end %>
        <% end %>
        <div class="card-bernardo-infos">
          <div>
            <h2><%= bernardo.title %></h2>
            <p><%= bernardo.description %></p>
          </div>
          <h2 class="card-bernardo-pricing">R$ <%= bernardo.price_hour.to_i %>/h</h2>
          <% if User.find(bernardo.user_id).avatar %>
            <%= cl_image_tag User.find(bernardo.user_id).avatar.key, class: "card-bernardo-bernardo avatar-bordered" %>
          <% else %>
            <%= image_tag "AVATAR_BERNARDO.png", class: "card-bernardo-bernardo avatar-bordered" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to 'Voltar', root_path, class: "btn btn-ghost mx-2 my-3" %>
</div>
