<p>
  <%= f.label :tomada, ('<i class="fas fa-plug"></i> Tomada').html_safe , :style => "float:left;" %>
  <%= f.check_box :tomada, :style => "float:left; margin-left: .8rem; margin-right: .8rem;" %>
  <%= f.label :papel_premium, ('<i class="fas fa-toilet-paper"></i> Papel Premium').html_safe , :style => "float:left;" %>
  <%= f.check_box :papel_premium, :style => "float:left; margin-left: .8rem; margin-right: .8rem;" %>
  <%= f.label :chuveirinho, ('<i class="fas fa-shower"></i> Chuveirinho').html_safe , :style => "float:left;" %>
  <%= f.check_box :chuveirinho, :style => "float:left; margin-left: .8rem; margin-right: .8rem;" %>
  <%= f.label :internet, ('<i class="fas fa-wifi"></i> Wifi').html_safe , :style => "float:left" %>
  <%= f.check_box :internet, :style => "float:left; margin-left: .8rem; margin-right: .8rem;" %>
</p>
<br>
