<%= simple_form_for :filter, url: establishments_path, method: :get do |f| %>
  <div class="flex-container">
    <h5>Conveniência:</h5>
    <div class="custom-control custom-switch">
      <%= f.check_box :tomada, options = {class: "custom-control-input", id: "tomada", checked: params[:filter] ? params[:filter][:tomada] == "1" : false, onchange: 'this.form.submit();'}, checked_value = "1", unchecked_value = "0" %>
      <label class="custom-control-label" for="tomada">
        <i class="fas fa-plug" style="color:#5C2601" title="Tomada"></i>
      </label>
    </div>
    <div class="custom-control custom-switch">
      <%= f.check_box :internet, options = {class: "custom-control-input", id: "internet", checked: params[:filter] ? params[:filter][:internet] == "1" : false, onchange: 'this.form.submit();'}, checked_value = "1", unchecked_value = "0" %>
      <label class="custom-control-label" for="internet">
        <i class="fas fa-wifi" style="color:#5C2601" title="Wi-Fi"></i>
      </label>
    </div>
    <div class="custom-control custom-switch">
      <%= f.check_box :chuveirinho, options = {class: "custom-control-input", id: "chuveirinho", checked: params[:filter] ? params[:filter][:chuveirinho] == "1" : false, onchange: 'this.form.submit();'}, checked_value = "1", unchecked_value = "0" %>
      <label class="custom-control-label" for="chuveirinho">
        <i class="fas fa-shower" style="color:#5C2601" title="Ducha higiênica"></i>
      </label>
    </div>
    <div class="custom-control custom-switch">
      <%= f.check_box :papel_premium, options = {class: "custom-control-input", id: "papel_premium", checked: params[:filter] ? params[:filter][:papel_premium] == "1" : false, onchange: 'this.form.submit();'}, checked_value = "1", unchecked_value = "0" %>
      <label class="custom-control-label" for="papel_premium">
        <i class="fas fa-toilet-paper" style="color:#5C2601" title="Papel premium"></i>
      </label>
    </div>
  </div>
<% end %>
