<%= simple_form_for [establishment] do |f| %>
    <%= f.input :zipcode, label: "CEP" %>
    <%= f.input :street_address,  label: "Logradouro" %>
    <%= f.input :street_number,  label: "Número do Logradouro" %>
    <%= f.input :street_addon,  label: "Complemento" %>
    <%= f.input :neighborhood,  label: "Bairro" %>
    <%= f.input :city,  label: "Cidade" %>
    <%= f.input :federal_unity,
                label: "UF",
                :collection => %w[AC AL AM AP BA CE DF ES GO MA MG MS MT PA PB PE PI PR RJ RN RO RR RS SC SE SP TO],
                value_method: :strip %>
    <%= f.input :establishment_name, label: "Nome do Estabelecimento" %>
    <%= f.input :available_at,
                label: "Dias disponíveis:",
                as: :check_boxes,
                :collection => %w[Domingo Segunda Terça Quarta Quinta Sexta Sábado],
                value_method: :strip %>
    <%= f.input :images, as: :file, :input_html => { :multiple => true }, label: "Fotos do seu estabelecimento:" %>
    <div class="row">
      <%= f.submit "Confirmar", class: "btn btn-primary" %>
      <%= link_to 'Voltar', establishments_path, class: "btn btn-primary mx-2" %>
    </div>

<% end %>
