<div class="container my-3">
  <h2><strong>Estabelecimentos</strong></h2>
  <div class="cards">
    <% @establishments.each do |establishment| %>
      <div class="card my-1">
        <div class="card_left">
          <img src= <%= establishment.photo_link %> >
        </div>
        <div class="card_right">
          <h2>
          <%= establishment.name %>
          </h2>
          <div class="card_right__details">
            <ul>
              <li>
                <% if establishment.open? %>
                  <i class="fas fa-door-open" style="color:green" title="Local aberto"></i>
                <% else %>
                  <i class="fas fa-door-closed" style="color:red" title="Local fechado"></i>
                <% end %>
              </li>
              <li>
                <% if establishment.bathroom.tomada %>
                  <i class="fas fa-plug" style="color:white" title="Tomada disponível"></i>
                <% else %>
                  <i class="fas fa-plug" style="color:gray" title="Tomada indisponível"></i>
                <% end %>
              </li>
              <li>
                <% if establishment.bathroom.internet %>
                  <i class="fas fa-wifi" style="color:white" title="Wi-Fi disponível"></i>
                <% else %>
                  <i class="fas fa-wifi" style="color:gray" title="Wi-Fi indisponível"></i>
                <% end %>
              </li>
              <li>
                <% if establishment.bathroom.chuveirinho %>
                  <i class="fas fa-shower" style="color:white" title="Ducha higiênica disponível"></i>
                <% else %>
                  <i class="fas fa-shower" style="color:gray" title="Ducha higiênica indisponível"></i>
                <% end %>
              </li>
              <li>
                <% if establishment.bathroom.papel_premium %>
                  <i class="fas fa-toilet-paper" style="color:white" title="Papel premium disponível"></i>
                <% else %>
                  <i class="fas fa-toilet-paper" style="color:gray" title="Papel premium indisponível"></i>
                <% end %>
              </li>
            </ul>
            <div class="card_right-location">
              <p><i class="fas fa-map-marker-alt"></i> </i><%= establishment.city %>/<%= establishment.federal_unity %><p>
            </div>
            <div class="card_right-button">
              <%= link_to 'Dirigir até o local' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
