<div class="container my-5">
  <%= render partial: "search_bar" %>
  <div class="row my-5">
    <%= image_tag "logo_com_texto.png", class: 'logo_home' %>
  </div>
  <div>
    <h4>
      Bernardo Finder é uma plataforma <strong>revolucionária</strong> que liga churrasqueiros com diversos talentos
      (carinhosamente apelidados de "Bernardos" => <%= image_tag "AVATAR_BERNARDO.png", class: 'avatar-square' %>) a
      usuários que gostariam de desfrutar de um churrasco de qualidade sem maiores preocupações.
      <br>
      <br>
      Quer encontrar um <%= image_tag "AVATAR_BERNARDO.png", class: 'avatar-square' %>?
      Basta utilizar o formulário de busca!
      <br>
      <br>
      Quer ser um <%= image_tag "AVATAR_BERNARDO.png", class: 'avatar-square' %>?
      Cadastre-se e apresente os seus serviços para o mundo!
    </h4>
  </div>
</div>
