<div class="container my-3">
  <h2><strong>Estabelecimentos</strong></h2>
  <div class="container my-3">
    <%= render "establishments/filter" %>
  </div>
  <div class="cards">
    <% @establishments.each do |establishment| %>
      <div class="card-establishment">
        <% if establishment.photo_link.blank? %>
          <%= image_tag("SERVICO_SEM_FOTO.png") %>
        <% else %>
          <%= image_tag(establishment.photo_link) %>
        <% end %>
        <div class="card-establishment-right">
          <div class="card-establishment-right-name">
            <h2>
              <%= establishment.name.truncate(50) %>
            </h2>
          </div>
          <div class="card-establishment-right-list">
            <ul>
              <li>
                <% if establishment.open? %>
                  <i class="fas fa-door-open" style="color:limegreen" title="Local aberto"></i>
                <% else %>
                  <i class="fas fa-door-closed" style="color:red" title="Local fechado"></i>
                <% end %>
              </li>
              <li>
                <% if establishment.bathroom.tomada %>
                  <i class="fas fa-plug" style="color:#ffda00" title="Tomada disponível"></i>
                <% else %>
                  <i class="fas fa-plug" style="color:gray" title="Tomada indisponível"></i>
                <% end %>
              </li>
              <li>
                <% if establishment.bathroom.internet %>
                  <i class="fas fa-wifi" style="color:#ffda00" title="Wi-Fi disponível"></i>
                <% else %>
                  <i class="fas fa-wifi" style="color:gray" title="Wi-Fi indisponível"></i>
                <% end %>
              </li>
              <li>
                <% if establishment.bathroom.chuveirinho %>
                  <i class="fas fa-shower" style="color:#ffda00" title="Ducha higiênica disponível"></i>
                <% else %>
                  <i class="fas fa-shower" style="color:gray" title="Ducha higiênica indisponível"></i>
                <% end %>
              </li>
              <li>
                <% if establishment.bathroom.papel_premium %>
                  <i class="fas fa-toilet-paper" style="color:#ffda00" title="Papel premium disponível"></i>
                <% else %>
                  <i class="fas fa-toilet-paper" style="color:gray" title="Papel premium indisponível"></i>
                <% end %>
              </li>
            </ul>
          </div>
          <div class="card-establishment-right-location">
            <p>
              <i class="fas fa-map-marker-alt"></i>
              <%= establishment.city %>/<%= establishment.federal_unity %>
              -
              <i class="fas fa-road"></i>
              XX km
              <p>
          </div>
          <div class="card-establishment-right-button">
            <%= link_to 'Dirigir até o local' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
