<div class="container mt-3">
  <h2><strong><%= @establishment.name %></strong></h2>
  <div class="container">
    <%= render "establishments/filter" %>
  </div>
  <div class="cards">
    <div class="card-establishment">
      <% if @establishment.photo_link.blank? %>
        <% if @establishment.images.first  %>
          <%= image_tag @establishment.images.first %>
        <% else %>
          <%= image_tag("SERVICO_SEM_FOTO.svg") %>
        <% end %>
      <% else %>
        <%= image_tag(@establishment.photo_link) %>
      <% end %>
      <div class="card-establishment-right d-flex align-items-start flex-column">
        <div class="card-establishment-right-name">
          <h2>
            <%= @establishment.name.truncate(50) %>
          </h2>
        </div>
        <div class="card-establishment-right-list">
          <ul>
            <li>
              <% if @establishment.available_now %>
                <i class="fas fa-door-open" style="color:limegreen" title="Local aberto"></i>
              <% else %>
                <i class="fas fa-door-closed" style="color:red" title="Local fechado"></i>
              <% end %>
            </li>
            <li>
              <% if @establishment.bathroom.tomada %>
                <i class="fas fa-plug" style="color:#ffda00" title="Tomada disponível"></i>
              <% else %>
                <i class="fas fa-plug" style="color:gray" title="Tomada indisponível"></i>
              <% end %>
            </li>
            <li>
              <% if @establishment.bathroom.internet %>
                <i class="fas fa-wifi" style="color:#ffda00" title="Wi-Fi disponível"></i>
              <% else %>
                <i class="fas fa-wifi" style="color:gray" title="Wi-Fi indisponível"></i>
              <% end %>
            </li>
            <li>
              <% if @establishment.bathroom.chuveirinho %>
                <i class="fas fa-shower" style="color:#ffda00" title="Ducha higiênica disponível"></i>
              <% else %>
                <i class="fas fa-shower" style="color:gray" title="Ducha higiênica indisponível"></i>
              <% end %>
            </li>
            <li>
              <% if @establishment.bathroom.papel_premium %>
                <i class="fas fa-toilet-paper" style="color:#ffda00" title="Papel premium disponível"></i>
              <% else %>
                <i class="fas fa-toilet-paper" style="color:gray" title="Papel premium indisponível"></i>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="card-establishment-right-location">
          <p>
            <i class="fas fa-map-marker-alt" title="Município/UF"></i>
            <%= @establishment.city %>/<%= @establishment.federal_unity %>
            <br/>
            <i class="fas fa-stopwatch" title="Duração estimada da viagem"></i>
            <% if @establishment.trip_duration %>
              <% if @establishment.trip_duration < 24*60*60 %>
                <% hour = Time.at(@establishment.trip_duration).utc.strftime("%H")
                    minute = Time.at(@establishment.trip_duration).utc.strftime("%M") %>
                <%= "#{hour} h #{minute} m" %>
              <% else %>
                ---
              <% end %>
            <% end %>
            <p>
            </div>
            <div class="card-establishment-right-button mt-3">
              <%= link_to 'Dirigir até o local', "https://waze.com/ul?directions?navigate=yes&to=ll.#{@establishment.latitude}%2C#{@establishment.longitude}&from=ll.#{current_user.latitude}%2C#{current_user.longitude}" %>
            </div>
          </div>
        </div>
      </div>
    </div>
